@font-face {
	font-family: latoregular;
	font-display: swap;
	src: url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: latomedium;
	font-display: swap;
	src: url("../fonts/latomedium.woff2") format("woff2"), url("../fonts/latomedium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: latosemibold;
	font-display: swap;
	src: url("../fonts/latosemibold.woff2") format("woff2"), url("../fonts/latosemibold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: latobold;
	font-display: swap;
	src: url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
